<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite">
  <listeners>
    <listener class-name="allure.listeners.AllureSuccessAndFailureTestListener"/>
  </listeners>

  <test name="Post API Tests">
    <classes>
      <class name="tests.PostApiTests"/>
    </classes>
  </test>
</suite>
